body{
  margin: 0px;
}

/*Toolbar*/
div.Up{
  position: fixed;
  width:100%;
  height: 10%;
  background-color: #0009;
  display: inline;

}

p.cont{
   background-color: #FFFFFF;
   float: left;
   display: inline;
   border-top: 10px;
  width: 200px;
  height: 30px;
  margin-left: 5px;
}
nav.tab{
  font-family: Comic Sans MS;
  display: inline-block;
  float: right;
 
}

nav a{
  margin-top: 20px;
  margin-left: 30px;
  color: white;
  text-decoration: none;
  text-align: center;
  }

nav>a:hover{

    color: white ;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
     transition: 0.9s all;
 }

 /*Main image animation*/

*{
  margin: 0;
  padding: 0;
}
.load{
  animation: slide 20s;
}
.slider{
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
  animation: slide 40s infinite;
  box-shadow: 5px 10px #000000;
}
.content{
  color: #FFF;
  width: 100%;
  height: 50vh;
  background-color: rgba(0,0,0,0.5);
}
.principal{
  left: 18%;
  top: 10%;
  transform: translate(-50%, 50%);
  position: absolute;
  letter-spacing: 5px;
  text-align: top;
}
h1.name{
  font-size: 70px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: vertana;
}
p.nme{
  font-size: 20px;
}
@keyframes slide{
  0%{
    background-image: url(https://static1.squarespace.com/static/58e58f733e00be09006a3ddb/t/5a3a9f25c830254f5c4b6fc6/1513791283141/image.png);
  }
 20%{
  background-image: url(https://static1.squarespace.com/static/58e58f733e00be09006a3ddb/t/5a3a9f25c830254f5c4b6fc6/1513791283141/image.png);
  }
  
  20.01%{
    background-image: url(https://static1.squarespace.com/static/58e58f733e00be09006a3ddb/t/5a3a9f25c830254f5c4b6fc6/1513791283141/image.png);
  }
  40%{
    background-image: url(https://cdn.shopify.com/s/files/1/1530/1093/products/28783594_1207818636018368_2186406754760261632_o_2048x.jpg?v=1527267203);
  }
  
  40.01%{
    background-image: url(https://cdn.shopify.com/s/files/1/1530/1093/products/28783594_1207818636018368_2186406754760261632_o_2048x.jpg?v=1527267203);
  }
60%{
  background-image: url(https://cdn.shopify.com/s/files/1/1530/1093/products/28783594_1207818636018368_2186406754760261632_o_2048x.jpg?v=1527267203);
  }
  60.01%{
    background-image: url(https://static1.squarespace.com/static/58e58f733e00be09006a3ddb/t/5a3a9f25c830254f5c4b6fc6/1513791283141/image.png);
  }
  80%{
  background-image: url(https://static1.squarespace.com/static/58e58f733e00be09006a3ddb/t/5a3a9f25c830254f5c4b6fc6/1513791283141/image.png);
  }
  80.01%{
    background-image: url(https://static1.squarespace.com/static/58e58f733e00be09006a3ddb/t/5a3a9f25c830254f5c4b6fc6/1513791283141/image.png);
  }
  100%{
  background-image: url(https://cdn.shopify.com/s/files/1/1530/1093/products/28783594_1207818636018368_2186406754760261632_o_2048x.jpg?v=1527267203);
  }
}

/*box section starts*/
section{
  display: inline-block;
  border-top: 20px;
  margin-top: 20px;
 }

section.first{
border:2px solid white ;
margin-left: 80px;
margin-right: 50px;
margin-bottom: 20px;
box-shadow: 5px 5px #888888;
overflow:hidden;
border-radius: 10px;
background-color: #fff;
 background: -moz-linear-gradient(top, #111 0%, #00b7ea 100%);
  background: -webkit-linear-gradient(#111 0%, #00b7ea 100%);
  background: -o-linear-gradient(#111 0%, #00b7ea 100%);
  background: linear-gradient(#111 0%, #00b7ea 100%); 
 width: calc(500px - 30px);
  height: calc(250px - 30px);
  box-sizing: border-box;
  opacity: 0.9;
}

section.second{
border:2px solid white ;
margin-left: 50px;
margin-right: 40px;
margin-bottom: 20px;
box-shadow: 5px 5px #888888;
overflow:hidden;
border-radius: 10px;
background-color: #fff;
 background: -moz-linear-gradient(top, #111 0%, #00b7ea 100%);
  background: -webkit-linear-gradient(#111 0%, #00b7ea 100%);
  background: -o-linear-gradient(#111 0%, #00b7ea 100%);
  background: linear-gradient(#111 0%, #00b7ea 100%);
 width: calc(500px - 30px);
  height: calc(250px - 30px);
  box-sizing: border-box;
  opacity: 0.9;

}

section.third{
border:2px solid white ;
margin-left: 120px;
margin-right: 50px;
margin-bottom: 20px;
box-shadow: 5px 5px #888888;
overflow:hidden;
border-radius: 10px;
background-color: #fff;
 background: -moz-linear-gradient(top, #111 0%, #00b7ea 100%);
  background: -webkit-linear-gradient(#111 0%, #00b7ea 100%);
  background: -o-linear-gradient(#111 0%, #00b7ea 100%);
  background: linear-gradient(#111 0%, #00b7ea 100%); width: calc(500px - 30px);
  height: calc(250px - 30px);
  box-sizing: border-box;
  opacity: 0.9;

}

section.fourth{
border:2px solid white;
margin-left: 50px;
margin-right: 40px;
margin-bottom: 20px;
box-shadow: 5px 5px #888888;
overflow:hidden;
border-radius: 10px;
background-color: #fff;
 background: -moz-linear-gradient(top, #111 0%, #00b7ea 100%);
  background: -webkit-linear-gradient(#111 0%, #00b7ea 100%);
  background: -o-linear-gradient(#111 0%, #00b7ea 100%);
  background: linear-gradient(#111 0%, #00b7ea 100%);
   width: calc(500px - 30px);
  height: calc(250px - 30px);
  box-sizing: border-box;
  opacity: 0.9;

}


a.fn1{
  text-decoration: none;
  color: #fff ;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    font-family: Comic Sans MS;
    transition: 0.9s all;

}

a.fn2{
  text-decoration: none;
  color: #fff ;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    font-family: Comic Sans MS;
    transition: 0.9s all;

}

a.fn3{
  text-decoration: none;
  color: #fff ;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
       font-family: Comic Sans MS;
    transition: 0.9s all;

}

a.fn4{
  text-decoration: none;
  color: #fff ;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
       font-family: Comic Sans MS;
    transition: 0.9s all;

}

.first:hover{
  background: #074A51;
  opacity: 1;

}
.second:hover{
  background: #074A51;
    opacity: 1;
}
.third:hover{
  background: #074A51;
    opacity: 1;
}
.fourth:hover{
  background: #074A51;
    opacity: 1;
}

/*About us Section*/
div.about{
  position: absolute;
  width: 100%;
  height: 40%;
  margin-top: 10px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  display: flex;
  transition: 0.5s;
}

p.aboutp{
  font-family: sans-serif;
  margin: 0;
  padding: 10px 0 0;
  text-align: justify;
  margin-right: 5px;
}

.about.imgabout{
  width: 30%;
  height: 40%;

  flex: 0 0 50%;
}

.about .imgabout img{
  max-width: 200px;
  max-height: 200px;
}

.about .aboutus h2{
  margin: 0;
  padding-left: 0;
  color: #ff005c;
  font-size: 22px;
}

.about:hover{
  box-shadow: 0 15px 30px rgba(0,0,0,.5);
}
  

/*NGO Section*/

div.ng{
  margin-top: 280px;
  position: absolute;
  width: 100%;
  height: 30%;
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  display: flex;
  transition: 0.5s;
}

  div.ng:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.5);
  }

  .ng h1{
   margin-top: 40px;
   margin-left: 10px; 
  padding-left: 0;
  color: #000;
  padding: 10px 0 0;
  font-size: 35px;
  }

  img.ngo1{
  border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 15px;
     margin-right: 15px;
     margin-top: 15px;
      box-shadow: 5px 5px #888888;
   background-size: cover;
  
}

img.ngo2{
  border-radius: 50%;
    width: 100px;
    height: 100px;
     margin-right: 15px;
     margin-top: 15px;
      box-shadow: 5px 5px #888888;
   background-size: cover;
}
img.ngo3{
  border-radius: 50%;
    width: 100px;
    height: 100px;
     margin-right: 15px;
     margin-top: 15px;
      box-shadow: 5px 5px #888888;
   background-size: cover;
}
img.ngo4{
  border-radius: 50%;
    width: 100px;
    height: 100px;
     margin-right: 15px;
     margin-top: 15px;
      box-shadow: 5px 5px #888888;
   background-size: cover;
}
img.ngo5{
  border-radius: 50%;
    width: 100px;
    height: 100px;
     margin-right: 15px;
     margin-top: 15px;
      box-shadow: 5px 5px #888888;
   background-size: cover;
}
img.ngo6{
  border-radius: 50%;
    width: 100px;
    height: 100px;
     margin-right: 15px;
     margin-top: 15px;
      box-shadow: 5px 5px #888888;
   background-size: cover;
}

div.ng img:hover{
    box-shadow: 0px 0px #888888;
    border-radius: 40%;
    width: 110px;
    height: 110px;
    transition: 0.5s;

}
